.class {
  padding-block-start: calc(var(--section-padding) + 250px);
}

.class .section-subtitle {
  margin-inline: auto;
}

.class-card {
  background-color: var(--white);
  border-radius: var(--radius-10);
  height: 100%;
  overflow: hidden;
}

.class-card .card-banner img {
  transition: var(--transition-2);
  object-fit: contain;
}

.class-card:is(:hover, :focus-within) .card-banner img {
  transform: scale(1.1);
}

.class-card .card-content {
  padding: 24px;
}

.class-card .title-wrapper {
  display: flex;
  align-items: center;
}

.class-card .title-icon {
  padding-inline-end: 20px;
  margin-inline-end: 20px;
  min-width: max-content;
  border-inline-end: 1px solid var(--gainsboro);
}

.class-card .card-title {
  transition: var(--transition-1);
  font-size: 2rem;
}

.class-card .card-title:is(:hover, :focus) {
  color: var(--coquelicot);
}

.class-card .card-text {
  color: var(--sonic-silver);
  font-size: 1.3rem;
  margin-block: 16px 12px;
}

.progress-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-catamaran);
  color: var(--rich-black-fogra-29-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-800);
  margin-block-end: 8px;
}

.progress-bg {
  background-color: var(--coquelicot_20);
  border-radius: 50px;
}

.progress-bar {
  background-color: var(--coquelicot);
  height: 10px;
  border-radius: inherit;
}
