.sleep_home{
    padding: 3.5rem 0 2rem;
    height: 100vh;
    display: flex
;
    align-items: center;
    justify-content: center;
  }
  
.sleep_home  .home__container{
    position: relative;
    row-gap: 2rem;
    display: flex
;
    align-items: center;
    justify-content: space-between;
  }
  
 .sleep_home .home__img{
    width: 400px;
    justify-self: center;
  }
  
 .sleep_home .home__title{
    font-size: var(--big-font-size);
    line-height: 140%;
    margin-bottom: var(--mb-1);
  }
  
 .sleep_home .home__description{
    margin-bottom: var(--mb-2-5);
    font-size: 1.3rem;
    font-family: cursive;
    color: var(--sonic-silver);
  }
  
.sleep_home  .home__social{
    position: absolute;
    top: 2rem;
    right: -1rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
  }
  
.sleep_home  .home__social-follow{
    font-weight: var(--font-medium);
    font-size: var(--smaller-font-size);
    color: var(--first-color);
    position: relative;
    transform: rotate(90deg);
  }
  
 .sleep_home .home__social-follow::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--first-color);
    right: -45%;
    top: 50%;
  }
  
 .sleep_home .home__social-links{
    display: inline-flex;
    flex-direction: column;
    row-gap: .25rem;
  }
  
 .sleep_home .home__social-link{
    font-size: 1rem;
    color: var(--first-color);
    transition: .3s;
  }
  
 .sleep_home .home__social-link:hover{
    transform: translateX(.25rem);
  }
  