

.footer-top .container {
  display: grid;
  gap: 50px;
}

.footer-brand-text {
  margin-block: 25px;
  font-size: 1.3rem;
  font-family: cursive;
  transition: var(--transition-1);
      color: var(--sonic-silver);
}

.footer-top .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.footer-brand-list li:not(:last-child) {
  margin-block-end: 15px;
}
.footer .span{
  font-size: var(--fs-3);
    margin-left: .5rem;
}
.footer-brand-title {
  /* font-family: var(--ff-catamaran); */
  font-size: 1.3rem;
  font-family: cursive;
    letter-spacing: 1px;
}
.footer_p{
  font-size: 1.3rem;
  font-family: cursive;
  transition: var(--transition-1);
      color: var(--sonic-silver);
}
.footer-list-title {
  font-weight: var(--fw-800);
  font-size: var(--fs-3);
  margin-block-end: 28px;
}

.footer-list-title::before {
  bottom: 0;
  width: 70px;
  height: 1px;
  background-color: var(--coquelicot);
}

.footer-list > li:not(:first-child) {
  margin-block-start: 12px;
}

.footer-link {
  flex: 1;
  font-size: 1.3rem;
  font-family: cursive;
  transition: var(--transition-1);
      color: var(--sonic-silver);
}

.footer-link:not(.address):is(:hover, :focus) {
  color: var(--coquelicot);
}

.footer-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 1.3rem;
}

.footer-list-item .icon {
  background-color: var(--coquelicot);
    color: var(--white);
    padding: 8px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.footer-form {
  position: relative;
  margin-block-end: 30px;
}

.footer-form .input-field {
  background-color: var(--white);
  color: var(--rich-black-fogra-29-1);
  padding-block: 18px;
  padding-inline: 30px 80px;
  border-radius: var(--radius-10);
}

.footer-form .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0;
  font-size: 20px;
  padding-inline: 12px;
}

.footer-form .btn-primary:is(:hover, :focus) {
  background-color: var(--rich-black-fogra-29-1);
  color: var(--white);
  box-shadow: none;
}

.social-list {
  display: flex;
  gap: 15px;
}

.social-link {
    color: var(--white);
    padding: 13px;
    width: 50px;
    border-radius: 50%;
    transition: var(--transition-1);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link:is(:hover, :focus) {
  background-color: var(--coquelicot);
}

.footer-bottom {
  text-align: center;
  padding-block: 15px;
}
.footer.dark .footer-bottom{
  background-color: var(--rich-black-fogra-29-2);
  color: var(--white);
}
.footer.light .footer-bottom{
  background-color: var(--light-gray);
}

.copyright-link {
  display: inline-block;
  color: var(--color-pu);
  font-family: cursive;
  font-size: 1.1rem;
}

.footer-bottom-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-block-start: 10px;
}

.footer-bottom-link {
  padding-inline-start: 20px;
  transition: var(--transition-1);
}

.footer-bottom-link::before {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--coquelicot);
  border-radius: 50%;
}

.footer-bottom-link:is(:hover, :focus) {
  color: var(--coquelicot);
}
